# Unit 2 Assessment: Big Data and Spark
----

### Overview

The Unit 2 assessment covers Big Data, Spark SQL, PySpark, PyTest, and Great Expectations.  All of the questions for this assessment are contained in the `Unit_2_Assessment_unsolved.ipynb` Jupyter Notebook file. **The assessment is worth 50 points.**

### Files

Use the following link to download the assessment instructions and Jupyter Notebook file.

[Download the Unit 2 Assessment resources](https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/Unit_2_Assessment.zip)

### Instructions

Keep the following mind while working on the assessment: 

* Remember that this is an individual assessment&mdash;you may not work with your classmates. However, you are free to consult your course notes and activities to help you answer the questions. 

* Although this assessment is delivered in a Jupyter Notebook, we recommend that make a copy of the `Unit_2_Assessment_unsolved.ipynb` file and upload into Google Colab. 

    > **Note:** If your answers are not clearly identified, you may receive a score of “0” for that question. 

* When you are ready to submit your assessment, rename the Google Colab notebook file with your last name. For example, `Unit_2_Assessment_<your_last_name>.ipynb`. Please do not clear your outputs if you have written code.

## Question 1

- **3 points**

How do you display the schema of a Spark DataFrame?

a. `.showSchema()`

b. `.displaySchema()`

c. `.printSchema()`

d.`.schema().show()`

In [ ]:
# C) .printSchema()

## Question 2

- **3 points**

How do you add a new column named, "half_price" that is half the price of the "price" column in a Spark DataFrame? 

a. `df.withColumn('half_price',df['price']/2)`

b. `df.newColumn('half_price', df['price']/2)`

c. `df.Column('half_price', df['price']/2)`

d.  `df.withColumn('half_price', ['price']/2)`

In [ ]:
# A) df.withColumn('half_price',df['price']/2)

## Question 3

- **3 points**


How do you convert a PySpark DataFrame, `df` to a Pandas DataFrame after you use `import pandas as pd`?

a. `df = pd.toPandas()`

b. `pandas_df = pd.df.toPandas()`

c. `pandas_df = df.toPandas()`

d. `df = pd.df.toPandas()`

In [ ]:
# C) pandas_df = df.toPandas()

## Question 4

- **8 points**

Read in the [new vehicle](https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/new-vehicles.csv) dataset into Spark DataFrame and create a group by object that shows the total number of the all the vehicles in each "New_Vehicle_Category", then answer the following question. 

**How many passenger cars are there?**

  - **Hint:** You will have to change the "Count" column to an integer.

a. 230,220

b. 47,425

c. 2,254

d. 397,182

In [ ]:
# D) 397,182

In [18]:
# Activate Spark in our Colab notebook.
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example: 'spark-3.2.2'
spark_version = 'spark-3.2.2'
# spark_version = 'spark-3.<enter version>'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.2.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.2.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3.2"

# Start a SparkSession
import findspark
findspark.init()

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:10 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,155 kB]
Fetched 2,432 kB in 3s (873 kB/s)
Reading package lists... Done

In [19]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Vehicles").getOrCreate()

In [20]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/new-vehicles.csv"
spark.sparkContext.addFile(url)
vehicle_df = spark.read.csv(SparkFiles.get("new-vehicles.csv"), sep=",", header=True)

# Show DataFrame
vehicle_df.show()

+--------------------+----------------+-----------------+----------------+-----+
|New_Vehicle_Category|New_Vehicle_Make|New_Vehicle_Model|New_Vehicle_Year|Count|
+--------------------+----------------+-----------------+----------------+-----+
|1 - Category 1 Truck|           Acura|          RDX 2WD|            2010|   15|
|1 - Category 1 Truck|           Acura|          RDX 4WD|            2007|    1|
|1 - Category 1 Truck|           Acura|          RDX 4WD|            2008|    2|
|1 - Category 1 Truck|           Acura|          RDX 4WD|            2009|  136|
|1 - Category 1 Truck|           Acura|          RDX 4WD|            2010|   30|
|1 - Category 1 Truck|           Acura|              TSX|            2009|   14|
|1 - Category 1 Truck|           Acura|              TSX|            2010|   14|
|1 - Category 1 Truck|            Audi|               A3|            2009|    2|
|1 - Category 1 Truck|            Audi|       A3 Quattro|            2009|    1|
|1 - Category 1 Truck|            Audi|               A4|            2009|    3|
|1 - Category 1 Truck|            Audi|               A4|            2010|    1|
|1 - Category 1 Truck|            Audi|     A4 Cabriolet|            2009|    2|
|1 - Category 1 Truck|            Audi|       A4 Quattro|            2009|    2|
|1 - Category 1 Truck|            Audi|       A4 Quattro|            2010|    1|
|1 - Category 1 Truck|            Audi|       A5 Quattro|            2010|    1|
|1 - Category 1 Truck|            Audi|               Q5|            2009|   46|
|1 - Category 1 Truck|            Audi|               Q5|            2010|  191|
|1 - Category 1 Truck|            Audi|         UNLISTED|            2010|    1|
|1 - Category 1 Truck|             BMW|             128i|            2009|    2|
|1 - Category 1 Truck|             BMW|     328ci xDrive|            2009|    1|
+--------------------+----------------+-----------------+----------------+-----+
only showing top 20 rows

In [21]:
vehicle_df.printSchema()

root
 |-- New_Vehicle_Category: string (nullable = true)
 |-- New_Vehicle_Make: string (nullable = true)
 |-- New_Vehicle_Model: string (nullable = true)
 |-- New_Vehicle_Year: string (nullable = true)
 |-- Count: string (nullable = true)

In [22]:
vehicle_df2 = vehicle_df.withColumn("Count",vehicle_df.Count.cast("int"))

In [23]:
vehicle_df2.printSchema()

root
 |-- New_Vehicle_Category: string (nullable = true)
 |-- New_Vehicle_Make: string (nullable = true)
 |-- New_Vehicle_Model: string (nullable = true)
 |-- New_Vehicle_Year: string (nullable = true)
 |-- Count: integer (nullable = true)

In [24]:
vehicle_df2.createOrReplaceTempView('new_vehicles')

In [25]:
sql = """
SELECT New_Vehicle_Category, sum(Count) FROM new_vehicles
Group by 1
order by 2 desc

 """ 

spark.sql(sql).show()

+--------------------+----------+
|New_Vehicle_Category|sum(Count)|
+--------------------+----------+
|   P - Passenger Car|    397182|
|1 - Category 1 Truck|    230220|
|2 - Category 2 Truck|     47425|
|3 - Category 3 Truck|      2254|
+--------------------+----------+

## Question 5

- **5 points**

Using the [new vehicle](https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/new-vehicles.csv) dataset create a temporary view of the Spark DataFrame. Use SQL to return the number of each vehicle in descending order, then answer the following question.

Which make, model, and year has the most vehicles?

a. 2009 Honda Civic

b. 2010 Toyota Camry

c. 2010 Toyota Corolla

d. 2009 Honda Accord

In [ ]:
# C) 2010 Toyota Corolla

In [26]:
# Create a temporary view of the vehicle_df.  
vehicle_df2.createOrReplaceTempView('vehicles')

In [27]:
sql = """
SELECT New_Vehicle_Year, New_Vehicle_Make, New_Vehicle_Model, sum(Count), dense_rank() over (order by sum(Count) desc) rnk
FROM vehicles
Group by 1,2,3
"""
spark.sql(sql).show()

+----------------+----------------+-----------------+----------+---+
|New_Vehicle_Year|New_Vehicle_Make|New_Vehicle_Model|sum(Count)|rnk|
+----------------+----------------+-----------------+----------+---+
|            2010|          Toyota|          Corolla|     26902|  1|
|            2009|           Honda|            Civic|     26712|  2|
|            2010|          Toyota|            Camry|     23599|  3|
|            2009|            Ford|        Focus FWD|     17533|  4|
|            2009|         Hyundai|          Elantra|     17036|  5|
|            2009|          Nissan|            Versa|     14845|  6|
|            2010|          Toyota|            Prius|     14400|  7|
|            2009|           Honda|           Accord|     12148|  8|
|            2009|           Honda|              Fit|     12040|  9|
|            2009|           Honda|         CR-V 4WD|     11569| 10|
|            2009|       Chevrolet|           Cobalt|     10691| 11|
|            2009|          Nissan|           Altima|     10224| 12|
|            2009|            Ford|       Escape FWD|     10097| 13|
|            2009|         Hyundai|           Sonata|      9529| 14|
|            2010|            Ford|       Fusion FWD|      8804| 15|
|            2009|          Toyota|         RAV4 4WD|      8561| 16|
|            2009|       Chevrolet|           Malibu|      8541| 17|
|            2009|          Nissan|        Sentra FE|      8467| 18|
|            2010|           Mazda|                3|      8386| 19|
|            2009|         Hyundai|           Accent|      8312| 20|
+----------------+----------------+-----------------+----------+---+
only showing top 20 rows

## Question 6

- **6 points**

Read in the [USA income distribution](https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/income_distribution.csv) dataset into Spark DataFrame, create a temporary view, and write a query to return the number of households in descending order where the income level is less than $10,000 for the year 2016, then answer the following question. 

What state has the most number of households where the income in less than $10,000?

  - **Hint:** You will have to cast the "Percent_of_Total_Household" column to a float and the "Number_of_Households" to an integer. 

a. New York

b. California

c. Texas

d. Puerto Rico

In [ ]:
# B) California

In [28]:
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/income_distribution.csv"
spark.sparkContext.addFile(url)
income_df = spark.read.csv(SparkFiles.get("income_distribution.csv"), sep=",", header=True)

# Show DataFrame
income_df.show()

+----+-------+--------------------+---------------------------+--------------------+
|Year|  State|        Income_Level|Percent_of_Total_Households|Number_of_Households|
+----+-------+--------------------+---------------------------+--------------------+
|2009|Alabama|  $10,000 to $14,999|                       7.42|              134988|
|2009|Alabama|  $15,000 to $19,999|                       6.87|              125046|
|2009|Alabama|  $20,000 to $24,999|                       6.61|              120178|
|2009|Alabama|  $25,000 to $29,999|                       6.07|              110437|
|2009|Alabama|  $30,000 to $34,999|                       5.78|              105216|
|2009|Alabama|  $35,000 to $39,999|                       5.36|               97549|
|2009|Alabama|  $40,000 to $44,999|                       5.02|               91415|
|2009|Alabama|  $45,000 to $49,999|                       4.38|               79708|
|2009|Alabama|  $50,000 to $59,999|                       8.22|              149589|
|2009|Alabama|  $60,000 to $74,999|                       9.37|              170463|
|2009|Alabama|  $75,000 to $99,999|                      10.51|              191272|
|2009|Alabama|$100,000 to $124,999|                       5.96|              108519|
|2009|Alabama|$125,000 to $149,999|                       3.05|               55565|
|2009|Alabama|$150,000 to $199,999|                       2.53|               46035|
|2009|Alabama|    $200,000 or more|                        2.2|               39992|
|2009|Alabama|   Less than $10,000|                      10.63|              193469|
|2009| Alaska|  $10,000 to $14,999|                       3.84|                9008|
|2009| Alaska|  $15,000 to $19,999|                       3.55|                8340|
|2009| Alaska|  $20,000 to $24,999|                       4.22|                9918|
|2009| Alaska|  $25,000 to $29,999|                       4.41|               10358|
+----+-------+--------------------+---------------------------+--------------------+
only showing top 20 rows

In [29]:
income_df.printSchema()

root
 |-- Year: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Income_Level: string (nullable = true)
 |-- Percent_of_Total_Households: string (nullable = true)
 |-- Number_of_Households: string (nullable = true)

In [30]:
columns_to_cast= ["Percent_of_Total_Households", "Number_of_Households"]

In [31]:
income_df2 = income_df.select(*(c for c in income_df.columns if c not in columns_to_cast), income_df["Percent_of_Total_Households"].cast("float"), income_df["Number_of_Households"].cast("int"))

In [32]:
# Convert the Percent_of_Total_Households to a float and Number_of_Households to an integer.
income_df2.printSchema()

root
 |-- Year: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Income_Level: string (nullable = true)
 |-- Percent_of_Total_Households: float (nullable = true)
 |-- Number_of_Households: integer (nullable = true)

In [33]:
income_df2.createOrReplaceTempView('income_dist')

In [34]:
sql = """
SELECT state, Year, Income_Level, Number_of_Households, dense_rank() over (order by Number_of_Households desc) as rnk FROM income_dist
WHERE Income_Level = 'Less than $10,000' and Year = 2016

"""
spark.sql(sql).show()

+--------------+----+-----------------+--------------------+---+
|         state|Year|     Income_Level|Number_of_Households|rnk|
+--------------+----+-----------------+--------------------+---+
|    California|2016|Less than $10,000|              728895|  1|
|         Texas|2016|Less than $10,000|              644199|  2|
|      New York|2016|Less than $10,000|              556825|  3|
|       Florida|2016|Less than $10,000|              556637|  4|
|          Ohio|2016|Less than $10,000|              362790|  5|
|   Puerto Rico|2016|Less than $10,000|              355712|  6|
|      Illinois|2016|Less than $10,000|              341280|  7|
|  Pennsylvania|2016|Less than $10,000|              334227|  8|
|      Michigan|2016|Less than $10,000|              299722|  9|
|       Georgia|2016|Less than $10,000|              298701| 10|
|North Carolina|2016|Less than $10,000|              294399| 11|
|     Tennessee|2016|Less than $10,000|              208317| 12|
|       Arizona|2016|Less than $10,000|              183573| 13|
|       Alabama|2016|Less than $10,000|              179345| 14|
|      Missouri|2016|Less than $10,000|              178563| 15|
|       Indiana|2016|Less than $10,000|              176307| 16|
|      Virginia|2016|Less than $10,000|              175989| 17|
|     Louisiana|2016|Less than $10,000|              175389| 18|
|    New Jersey|2016|Less than $10,000|              174835| 19|
|      Kentucky|2016|Less than $10,000|              166777| 20|
+--------------+----+-----------------+--------------------+---+
only showing top 20 rows

## Question 7. 

- **3 points**

If you have a dataset of 1 Tb what is the best option to increase query execution time? 

a. Create a temporary view, cache the temporary view and rerun the query. 

b. Write the data to a parquet format and rerun the query. 

c. Create a temporary view and rerun the query.

d. Store in a AWS S3 bucket and query the table on Googl Colab.

In [ ]:
# B) Write the data to a parquet format and rerun the query.

## Question 8

- **3 points**

How do you check that a temporary view table. called, "flight_delays", is cached? 

a. `spark.temporaryView.isCached("flight_delays")`

b. `spark.temporaryView()("flight_delays").isCached()`

c. `spark.catalog.isCached("flight_delays")`

d. `spark.catalog.temporaryView("flight_delays").isCached()`

In [ ]:
# C) spark.catalog.isCached("flight_delays")

## Question 9

- **8 points**

Read in the [SP_500_5yr_stock_data.csv]("https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/SP_500_5yr_stock_data.csv) dataset into Pandas DataFrame. 

What is the assert statement will pass for the 1,258 rows in the DataFrame? 

a. `assert len(df.count()) == 1258`

b. `assert len(df.index()) == 1258`

c. `assert len(df.index) == 1258`

d. `assert len(df.count) == 1258`

In [ ]:
# C) assert len(df.index) == 1258

In [40]:
# Install pytest and pytest-sugar to make our output look nice.
!pip install -q pytest pytest-sugar

In [87]:
# Create and navigate to the tests directory.
from pathlib import Path
if Path.cwd().name != 'tests':
    %mkdir tests
    %cd tests
# Show the current working directory. 
%pwd

/content/tests

'/content/tests'

In [41]:
# Create a  __init__.py file that will contain that will be used to run our functions. 
# This file will be stored in our pwd (/content/tests)
%%file __init__.py
pass

Writing __init__.py

In [42]:
# Create a bank_data.py file that will contain the import_data function. 
# This file will be stored in our pwd (/content/tests).
%%file stock_data.py
    
import pandas as pd

def import_data():
  url = "https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/SP_500_5yr_stock_data.csv"
  df = pd.read_csv(url)

  return df

Writing stock_data.py

In [43]:
%%file test_stock_data.py
from stock_data import import_data
def test_row_count():
  df = import_data()
  assert len(df.index) == 1258

Writing test_stock_data.py

In [44]:
!python -m pytest test_stock_data.py

Test session starts (platform: linux, Python 3.7.14, pytest 3.6.4, pytest-sugar 0.9.5)
rootdir: /content, inifile:
plugins: typeguard-2.7.1, sugar-0.9.5

 test_stock_data.py ✓                                            100% ██████████

Results (0.91s):
       1 passed

## Question 10

- **8 points**

Read in the [SP_500_5yr_stock_data.csv]("https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/SP_500_5yr_stock_data.csv) dataset into Spark DataFrame called, `stock_df`, then import the Spark DataFrame into a Great Expectations DataFrame called, `stock_df_ge = ge.dataset.SparkDFDataset(stock_df)`, and answer the following question:

What is the code that will test that the number of columns is "6" and pass when executed?

a. `assert stock_df_ge.column_count() == 6`

b. `print(stock_df_ge.expect_column_count_to_equal(6))`

c. `print(stock_df_ge.expect_column_count_to_equal(6))`

d. `print(stock_df_ge.expect_table_column_count_to_equal(6))`

In [ ]:
# D) print(stock_df_ge.expect_table_column_count_to_equal(6))

In [1]:
# Install great expectations
!pip install great_expectations

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: great_expectations in /usr/local/lib/python3.7/dist-packages (0.15.26)
Requirement already satisfied: pyparsing>=2.4 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (3.0.9)
Requirement already satisfied: jinja2>=2.10 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (2.11.3)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.3.5)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.7.3)
Requirement already satisfied: tqdm>=4.59.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.64.1)
Requirement already satisfied: Ipython>=7.16.3 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (7.34.0)
Requirement already satisfied: Click>=7.1.2 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (7.1.2)
Requirement already satisfied: mistune>=0.8.4 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (0.8.4)
Requirement already satisfied: altair<5,>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (2.8.2)
Requirement already satisfied: jsonschema>=2.5.1 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.3.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from great_expectations) (21.3)
Requirement already satisfied: cryptography>=3.2 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (38.0.1)
Requirement already satisfied: ipywidgets>=7.5.1 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (7.7.1)
Requirement already satisfied: tzlocal>=1.2 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.5.1)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.1.0)
Requirement already satisfied: colorama>=0.4.3 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (0.4.5)
Requirement already satisfied: importlib-metadata>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.12.0)
Requirement already satisfied: nbformat>=5.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (5.4.0)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (4.1.1)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (2.23.0)
Requirement already satisfied: pytz>=2021.3 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (2022.2.1)
Requirement already satisfied: marshmallow<4.0.0,>=3.7.1 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (3.17.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.25.11)
Requirement already satisfied: makefun<2,>=1.7.0 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.15.0)
Requirement already satisfied: jsonpatch>=1.22 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.32)
Requirement already satisfied: ruamel.yaml<0.17.18,>=0.16 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (0.17.17)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (1.21.6)
Requirement already satisfied: notebook>=6.4.10 in /usr/local/lib/python3.7/dist-packages (from great_expectations) (6.4.12)
Requirement already satisfied: toolz in /usr/local/lib/python3.7/dist-packages (from altair<5,>=4.0.0->great_expectations) (0.12.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.7/dist-packages (from altair<5,>=4.0.0->great_expectations) (0.4)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.7/dist-packages (from cryptography>=3.2->great_expectations) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.12->cryptography>=3.2->great_expectations) (2.21)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=1.7.0->great_expectations) (3.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (2.6.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (4.4.2)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (0.1.6)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (0.18.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (2.0.10)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from Ipython>=7.16.3->great_expectations) (57.4.0)
Requirement already satisfied: ipython-genutils~=0.2.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->great_expectations) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.6.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->great_expectations) (3.6.1)
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->great_expectations) (5.3.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets>=7.5.1->great_expectations) (3.0.3)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->great_expectations) (6.2)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets>=7.5.1->great_expectations) (6.1.12)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->Ipython>=7.16.3->great_expectations) (0.8.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.10->great_expectations) (2.0.1)
Requirement already satisfied: jsonpointer>=1.9 in /usr/local/lib/python3.7/dist-packages (from jsonpatch>=1.22->great_expectations) (2.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.5.1->great_expectations) (0.18.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.5.1->great_expectations) (22.1.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=2.5.1->great_expectations) (5.9.0)
Requirement already satisfied: fastjsonschema in /usr/local/lib/python3.7/dist-packages (from nbformat>=5.0->great_expectations) (2.16.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.7/dist-packages (from nbformat>=5.0->great_expectations) (4.11.1)
Requirement already satisfied: nest-asyncio>=1.5 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (1.5.6)
Requirement already satisfied: pyzmq>=17 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (23.2.1)
Requirement already satisfied: nbconvert>=5 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (5.6.1)
Requirement already satisfied: prometheus-client in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (0.14.1)
Requirement already satisfied: Send2Trash>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (1.8.0)
Requirement already satisfied: terminado>=0.8.3 in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (0.13.3)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.7/dist-packages (from notebook>=6.4.10->great_expectations) (21.3.0)
Requirement already satisfied: bleach in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (5.0.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (1.5.0)
Requirement already satisfied: testpath in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (0.6.0)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.7/dist-packages (from nbconvert>=5->notebook>=6.4.10->great_expectations) (0.7.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->Ipython>=7.16.3->great_expectations) (0.7.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->Ipython>=7.16.3->great_expectations) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->Ipython>=7.16.3->great_expectations) (0.2.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->great_expectations) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->great_expectations) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->great_expectations) (2022.6.15)
Requirement already satisfied: ruamel.yaml.clib>=0.1.2 in /usr/local/lib/python3.7/dist-packages (from ruamel.yaml<0.17.18,>=0.16->great_expectations) (0.2.6)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.7/dist-packages (from argon2-cffi->notebook>=6.4.10->great_expectations) (21.2.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.7/dist-packages (from bleach->nbconvert>=5->notebook>=6.4.10->great_expectations) (0.5.1)

In [35]:
# Start Spark session
from pyspark.sql import SparkSession
import great_expectations as ge
spark = SparkSession.builder.appName("Vehicles").getOrCreate()

In [36]:
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/nflx-data-science-adv/week-6/SP_500_5yr_stock_data.csv"
spark.sparkContext.addFile(url)
stock_df = spark.read.csv(SparkFiles.get("SP_500_5yr_stock_data.csv"), header=True)

# Show DataFrame
stock_df.show()

+----------+-------+-------+-------+-------+---------+
|      Date|   Open|   High|    Low|  Close|   Volume|
+----------+-------+-------+-------+-------+---------+
|01/04/2016| 2038.2| 2038.2|1989.68|2012.66|802072115|
|01/05/2016|2013.78|2021.94|2004.17|2016.71|619260483|
|01/06/2016|2011.71|2011.71|1979.05|1990.26|734820348|
|01/07/2016|1985.32|1985.32|1938.83|1943.09|860517477|
|01/08/2016|1945.97| 1960.4|1918.46|1922.03|800798104|
|01/11/2016|1926.12|1935.65| 1901.1|1923.67|775646469|
|01/12/2016|1927.83|1947.38|1914.35|1938.68|759189614|
|01/13/2016|1940.34|1950.33|1886.41|1890.28|874565406|
|01/14/2016|1891.68|1934.47|1878.93|1921.84|920305719|
|01/15/2016|1916.68|1916.68|1857.83|1880.33|121200428|
|01/19/2016|1888.66|1901.44| 1864.6|1881.33|876359950|
|01/20/2016|1876.18|1876.18|1812.29|1859.33|  4309713|
|01/21/2016|1861.46|1889.85|1848.98|1868.99|853633943|
|01/22/2016| 1877.4|1908.85| 1877.4| 1906.9|809147435|
|01/25/2016|1906.28|1906.28|1875.97|1877.08|760931974|
|01/26/2016|1878.79|1906.73|1878.79|1903.63|695956044|
|01/27/2016|1902.52|1916.99| 1872.7|1882.95|801306427|
|01/28/2016|1885.22|1902.96|1873.65|1893.36|820296447|
|01/29/2016| 1894.0|1940.24| 1894.0|1940.24|144609311|
|02/01/2016|1936.94| 1947.2| 1920.3|1939.38|714148314|
+----------+-------+-------+-------+-------+---------+
only showing top 20 rows

In [37]:
# Convert the Spark DataFrame into a Great Expectations DataFrame. 
stock_df_ge = ge.dataset.SparkDFDataset(stock_df)

In [38]:
stock_df_ge.head()

         Date     Open     High      Low    Close     Volume
0  01/04/2016   2038.2   2038.2  1989.68  2012.66  802072115
1  01/05/2016  2013.78  2021.94  2004.17  2016.71  619260483
2  01/06/2016  2011.71  2011.71  1979.05  1990.26  734820348
3  01/07/2016  1985.32  1985.32  1938.83  1943.09  860517477
4  01/08/2016  1945.97   1960.4  1918.46  1922.03  800798104

In [39]:
# Test that the number of columns is "6" and passes when executed.
print(stock_df_ge.expect_table_column_count_to_equal(6))

{
  "result": {
    "observed_value": 6
  },
  "expectation_config": {
    "expectation_type": "expect_table_column_count_to_equal",
    "kwargs": {
      "value": 6,
      "result_format": "BASIC"
    },
    "meta": {}
  },
  "success": true,
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}